:root {
    --primary-1: #f8f9fa;
    --primary-2: #e9ecef;
    --primary-3: #dee2e6;
    --primary-4: #ced4da;
    --primary-5: #adb5bd;
    --primary-6: #6c757d;
    --primary-7: #495057;
    --primary-8: #343a40;
    --primary-9: #212529;
    --secondary-1: #caf0f8;
    --secondary-2: #ade8f4;
    --secondary-3: #90e0ef;
    --secondary-4: #48cae4;
    --secondary-5: #00b4d8;
    --secondary-6: #0096c7;
    --secondary-7: #0077b6;
    --secondary-8: #023e8a;
    --secondary-9: #03045e;
    --accent-1: #ffccd5;
    --accent-2: #ffb3c1;
    --accent-3: #ff8fa3;
    --accent-4: #ff758f;
    --accent-5: #ff4d6d;
    --accent-6: #c9184a;
    --accent-7: #a4133c;
    --accent-8: #800f2f;
    --accent-9: #590d22;
}

@media (prefers-color-scheme: light) {
    :root {
        --background: var(--primary-2);
        --panel: var(--primary-1);
        --border: var(--primary-7);
        --text: var(--primary-9);
        --text-muted: var(--primary-5);
        --error: var(--accent-6);
        --link: var(--secondary-6);
        --link-visited: var(--secondary-4);
        --link-hover: var(--secondary-8);
        --tag: var(--accent-2);
        --tag-text: var(--accent-9);
        --feedback-background: var(--accent-2);
        --feedback-text: var(--primary-9);
        --input-focus: var(--secondary-6);
        --submit-background: var(--secondary-3);
        --submit-hover: var(--secondary-4);
        --submit-active: var(--secondary-2);
        --submit-text: var(--primary-9);
        --reset-background: var(--primary-7);
        --reset-hover: var(--primary-8);
        --reset-active: var(--primary-6);
        --reset-text: var(--primary-1);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: var(--primary-8);
        --panel: var(--primary-9);
        --border: var(--primary-3);
        --text: var(--primary-1);
        --text-muted: var(--primary-5);
        --error: var(--accent-6);
        --link: var(--secondary-5);
        --link-visited: var(--secondary-7);
        --link-hover: var(--secondary-3);
        --feedback-background: var(--accent-8);
        --feedback-text: var(--primary-1);
        --tag: var(--accent-8);
        --tag-text: var(--primary-1);
        --input-focus: var(--secondary-4);
        --submit-background: var(--secondary-7);
        --submit-hover: var(--secondary-8);
        --submit-active: var(--secondary-6);
        --submit-text: var(--primary-1);
        --reset-background: var(--primary-3);
        --reset-hover: var(--primary-4);
        --reset-active: var(--primary-2);
        --reset-text: var(--primary-9);
    }
}

body {
    color: var(--text);
    background-color: var(--background);
    font-family: et-book,Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
    padding: 0
}

a {
    color: var(--link);
    text-decoration: none;
}
a:hover {
    color: var(--link-hover);
    text-decoration: underline;
}

svg {
    width: 1.5rem;
    height: 1.5rem;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}